/*

COLOUR PALETTE

orange accent       ff8e2d
teal                20abad
darker teal         007c84
off-white           eeeaeb

GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */
body {
  margin:0;
  font-family:Arial, sans-serif;
  line-height: 1.6;
  background: #fff;

header{
 background:#00b2a9;
 color: white;
 padding: 20px 0;
 display: flex;
 justify-content: space-between;
 align-items:center;
}

.logo img{
max-height: 50px;
margin-left:20px;
}

nav ul.menu {
 list-style: none;
 padding:0;
 margin:0;
 display: flex;
 justify-content: center;  
 align-items: center;
}
 nav ul.menu li {
     margin: 0 15px;
     position: relative;
 }

nav ul.menu li ul.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: #00b2a9;
    color: white;
    list-style: none;
    padding: 10px;
    box shadow: 0 8px 16px rgba(0,0,0,0.2);
}
    nav ul.menu li:hover ul.submenu,
    nav ul.menu li:focus-within ul.submenu {
        display:block;
    }

    nav ul.menu li ul.submenu li {
        margin:0;
    }

    .hero{
        background: url('background.jpg') no-repeat center/cover;
        color: white;
        text-align: center;
        padding: 100px; 20px;
    }

    hero-content h1{
    font-size: 2.5rem;
    margin-bottom:10px;
}
    hero-content p {
    font-size:1.2rem;
    margin-bottom: 20px;
 }
    hero-content .btn{
        background:#00b2a9;
        color:white;
        padding:10px 20px;
        text-decoration: none;
        border-radius: 5px;
        

/* MOBILE VIEW */
@media (max-width:767px) {
    nav ul.menu {
     display:block;
}
    nav ul.menu li{
        display:block;
        margin:10px 0;
    }

    nav ul.menu li ul.submenu{
        position: static;
        box-shadow:none;
        background:#00b2a9;
        color:white;
    }
    .hero-content{
        background-size:cover;
        text-align:center; 
    }
}

/* DESKTOP VIEW */
@media screen and (min-width: 720px) {
    nav ul.menu{
    display:flex;
    justify-content:center;
}

nav ul.menu li{
    margin: 0 15px;
}
 nav ul.menu li ul.submenu{
     width:200px;
 }
    .hero-content {
        background-size: cover;
        text-align:left;
        padding:150px 20px;
    }

    hero-content h1 {
        font-size: 3rem;
    }

    hero-content p {
        font-size: 1.5rem;
    }

    hero-content.btn{
        font-size:1rem;
    }
}
        

/* LARGEST VIEW */
@media screen and (min-width: 1024px) {
    header{
     padding:30px 0;
}
    .logo img {
        max-height:70px;
    }
  
  nav ul.menu li {
  margin:0 25px;
}
  .hero{
    padding: 200px, 40px;
  }

  .hero-content{
    max-width:800px;
  }

  .hero-content h1 {
    font-size:4rem;
  }
  hero-content p {
    font-size: 2rem;
  }
  .hero-content .btn{
    font-size:1.2rem;
    padding:15px 30px;
  }
}

  

    
